#container{
    display:flex;
    flex-wrap: wrap;
    border: 1px;
}

#cells {
    flex-basis: 45%;
    align-content: center;
}

#menu {
    flex-basis: 55%;
    background-color: pink;
}

button{
    border: 0px solid black;
    background-color: white;
    cursor:pointer;
    margin-top:10px;
}

.rulebutton {
    height:30px;
    width:30px;
    padding:0;
}

.nbrBtn {
    
    border: 2px solid black;
    height:20px;
    width:20px;
    padding:0;
    margin:0;
}

.nbrRow {
    margin:0;
}