body,
button { 
    font-family: 'Orbitron', sans-serif; 
}
#tetris {
    margin: 1em auto;  
    font-size: 1.25em; 
    width: 450px; 
    display: flex
}
#canvas { 
    display: inline-block; 
    vertical-align: top; 
    border: 1px solid #333; 
    width: 300px; 
    height: 600px;
}
#menu { 
    display: inline-block; 
    vertical-align: top; 
    position: relative; 
    width: 300px; 
    height: 400px;
}
#menu p { 
    margin: 1 auto; 
    text-align: center; 
}
#start {
    margin: 0 auto;
    padding: 10px;
}
#text {
    color: #ff3377;
    font-weight: bold;
}
#score { 
    color: red; 
}
#time { 
    color: blue; 
}