body,
button { 
    font-family: 'Orbitron', sans-serif; 
}
#tetris {
    margin: 1em auto;  
    font-size: 1.25em; 
    width: 450px; 
    display: flex
}
#canvas { 
    display: inline-block; 
    vertical-align: top; 
    border: 1px solid #333; 
    width: 300px; 
    height: 600px;
}
#menu { 
    display: inline-block; 
    vertical-align: top; 
    position: relative; 
    width: 300px; 
    height: 400px;
}
#menu p { 
    margin: 1 auto; 
    text-align: center; 
}
#start {
    margin: 0 auto;
    padding: 10px;
}
#text {
    color: #ff3377;
    font-weight: bold;
}
#score { 
    color: red; 
}
#time { 
    color: blue; 
}

nav {
    background-color: #3f51b5;
    text-align: left;
    
}
nav .brand-logo {
    margin-left: 20px;
}
nav svg {
    height: 2rem;
    fill: currentColor;
    margin: 15px;
}

nav a {
    font-family: Roboto, sans-serif;
}

#drawer {
    position: fixed;
    top: 0px;
    left: 0;
    width: 257px;
    height: 100vh;
    z-index: 1;
    color: rgb(0, 0, 0.87);
    background-color: rgb(255, 255, 255);
    transform: translateX(-300px);
}

#name {
    color: black;
    padding-left: 15px;
    margin-top: 0px; 
    margin-bottom: 0px; 
}

hr {
    padding: 0px;
    color: #EAE6E6;
    margin-top: 0px; 
    margin-bottom: 0px; 
}

#drawer, 
.content {
    transition: all 500ms;
}

.drawer-open #drawer {
    transform: translateX(0);
}

.drawer-open .content {
    transform: translateX(300px);
}